<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>رشته را انتخاب کنید</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">

    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
	 <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

    <link  rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}" />


</head>
<body>
<div class="ui inverted segment" style="text-align: center;">
<h4 class="ui header"> لطفا رشته خود را انتخاب کنید </h4>
  <button class="ui teal button" id="4taj" style="margin-top: 5px !important;"> چهارم تجربی</button>
  <button class="ui teal button" id="4math" style="margin-top: 5px !important;"> چهارم ریاضی</button>
  <button class="ui teal button" id="3taj" style="margin-top: 5px !important;"> سوم تجربی</button>
  <button class="ui teal button" id="10om" style="margin-top: 5px !important;"> دهم</button>

</div>



</body>
</html>
